*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #4c5b6c;
    font-family: sans-serif;
    outline: none;
}
.container{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;



}
.calculator{
    background-color:#9fa4a3;
    padding: 15px;
    border-radius: 25px;
    display: grid;
    grid-template-columns: repeat(4,70px);
    box-shadow: 0px 4px 6px rgba(0,0,0,0.5);

}
input{
    grid-column: span 4;
    height: 70px;
    width: 260px;
    border: none;
    border-radius: 20px;
    font-size:50px;
    text-align: end;
    margin: auto;
    margin-top: 40px;
    margin-bottom: 30px;
    padding: 20px;
    background-color: #556155;
    box-shadow: inset 3px 3px 5px 0px rgba(0, 0, 0, 0.3);
}
button{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color: #d0cdc9;
    color: rgb(48, 48, 48);
    border: none;
    margin: 8px;
    font-size: 15px;
    font-weight: bold;
    box-shadow: 0px 4px 6px rgba(0,0,0,0.3);
}
.equal{
    width: 115px;
    border-radius: 40px;
    background-color: #085E7D;
    color: rgb(48, 48, 48);
}
.operator{
    background-color: rgb(48, 48, 48);
    color:rgb(188, 185, 185);
}
.imp{
    background-color: rgb(161, 64, 64);
    color: rgb(48, 48, 48);
}

.no-shadow{
    box-shadow: none;
}

